.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 600px;

    background: var(--main-panel);
    border-right: 1px solid var(--main-border);
    color: var(--main-color);
    box-shadow: 2px 0 40px 10px rgba(0, 0, 0, 0.2);

    transition: all 1s;
}

.header {
    font-size: 2rem;
    border-bottom: 1px solid var(--main-border);
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.inside {
    padding: 0.5rem;
}