.line {
    display: flex;
    position: relative;

    height: 35px;

    overflow-y: hidden;
    overflow-x: auto;

    border: 1px solid var(--main-border);
    background: var(--main-background);
}

.item {
    border: 1px solid var(--main-border);
    background: magenta;
}

.pointer {
    width: 1px;
    height: 35px;
    background: yellow;

    position: absolute;
}